# Ignore native directories - let EAS prebuild generate them
/android
/ios

# Ignore common development files
node_modules
.git
.expo
.expo-shared
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store